In [101]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [103]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
%cd drive/MyDrive/TechLabs/02_Data\ Manipulation/Part\ C\ -\ Pandas

[Errno 2] No such file or directory: 'drive/MyDrive/TechLabs/02_Data Manipulation/Part C - Pandas'
/content/drive/MyDrive/TechLabs/02_Data Manipulation/Part C - Pandas

In [145]:
# This is the convention used to import Pandas.
import pandas as pd
import numpy as np

In [146]:
# These commands load the data from googlecolab
bycountrywaste = pd.read_csv("data/cei_pc031_page_linear.csv")

In [147]:
bycountrywaste

,DATAFLOW,LAST UPDATE,freq,wst_oper,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,AL,2013,325,s
1,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,AL,2014,425,s
2,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,AL,2015,491,s
3,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,AL,2016,452,e
4,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,AL,2017,436,e
...,...,...,...,...,...,...,...,...,...
768,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,XK,2017,229,NaN
769,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,XK,2018,226,NaN
770,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,XK,2019,252,NaN
771,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,XK,2020,255,NaN
772,ESTAT:CEI_PC031(1.0),17/02/23 23:00:00,A,GEN,KG_HAB,XK,2021,270,NaN

In [148]:
#delete irrelevant columns for data analysis
bycountrywaste.drop("DATAFLOW", inplace=True, axis=1)
bycountrywaste.drop("LAST UPDATE", inplace=True, axis=1)
bycountrywaste.drop("freq", inplace=True, axis=1)
bycountrywaste.drop("wst_oper", inplace=True, axis=1)
bycountrywaste.drop("unit", inplace=True, axis=1)
bycountrywaste.drop("OBS_FLAG", inplace=True, axis=1)
bycountrywaste.head()

  geo  TIME_PERIOD  OBS_VALUE
0  AL         2013        325
1  AL         2014        425
2  AL         2015        491
3  AL         2016        452
4  AL         2017        436

In [149]:
bycountrywaste.rename(columns={"geo": "region_id", "TIME_PERIOD":"year", "OBS_VALUE":"municipal_waste_kg_per_capita"}, inplace=True)
bycountrywaste.head()

  region_id  year  municipal_waste_kg_per_capita
0        AL  2013                            325
1        AL  2014                            425
2        AL  2015                            491
3        AL  2016                            452
4        AL  2017                            436

In [150]:
#add a new column and assign the country name to it
bycountrywaste["country_name"]=bycountrywaste.region_id.replace({"EU27_2020": "European Union - 27 countries (from 2020)","EU28": "European Union - 28 countries (2013-2020)",
"EA20": "Euro area – 20 countries (from 2023)",
"EA19": "Euro area - 19 countries (2015-2022)",
"BE": "Belgium",
"BG": "Bulgaria",
"CZ": "Czechia",
"DK": "Denmark",
"DE": "Germany (until 1990 former territory of the FRG)",
"EE": "Estonia",
"IE": "Ireland",
"EL": "Greece",
"ES": "Spain",
"FR": "France",
"HR": "Croatia",
"CY": "Cyprus",
"IT": "Italy",
"IS": "Iceland",
"LV": "Latvia",
"LT": "Lithuania",
"LU": "Luxembourg",
"HU": "Hungary",
"MT": "Malta",
"NL": "Netherlands",
"AT": "Austria",
"PL": "Poland",
"PT": "Portugal",
"RO": "Romania",
"SI": "Slovenia",
"SK": "Slovakia",
"FI": "Finland",
"SE": "Sweden",
"IS": "Iceland",
"LI": "Lichtenstein",
"NO": "Norway",
"CH": "Switzerland",
"UK": "United Kingdom",
"BA": "Bosnia and Herzegovina",
"ME": "Montenegro",
"MK": "North Macedonia",
"AL": "Albania",
"RS": "Serbia",
"TR": "Türkiye",
"XK": "Kosovo (under United Nations Security Council Resolution 1244/99)"
})

In [151]:
bycountrywaste

,region_id,year,municipal_waste_kg_per_capita,country_name
0,AL,2013,325,Albania
1,AL,2014,425,Albania
2,AL,2015,491,Albania
3,AL,2016,452,Albania
4,AL,2017,436,Albania
...,...,...,...,...
768,XK,2017,229,Kosovo (under United Nations Security Council ...
769,XK,2018,226,Kosovo (under United Nations Security Council ...
770,XK,2019,252,Kosovo (under United Nations Security Council ...
771,XK,2020,255,Kosovo (under United Nations Security Council ...
772,XK,2021,270,Kosovo (under United Nations Security Council ...

In [152]:
#number assigend values in "region_id" (ok)
bycountrywaste["region_id"].nunique()

39

In [153]:
#compare the number assigend values in "country_name" with "region_id" (ok)
bycountrywaste["country_name"].nunique()

39

In [154]:
# detect MISSING values
bycountrywaste.isna()

     region_id   year  municipal_waste_kg_per_capita  country_name
0        False  False                          False         False
1        False  False                          False         False
2        False  False                          False         False
3        False  False                          False         False
4        False  False                          False         False
..         ...    ...                            ...           ...
768      False  False                          False         False
769      False  False                          False         False
770      False  False                          False         False
771      False  False                          False         False
772      False  False                          False         False

[773 rows x 4 columns]

In [155]:
#move column "country_name"
column_to_move = bycountrywaste.pop("country_name")
bycountrywaste.insert(0, "country_name", column_to_move)
bycountrywaste.head(15)

   country_name region_id  year  municipal_waste_kg_per_capita
0       Albania        AL  2013                            325
1       Albania        AL  2014                            425
2       Albania        AL  2015                            491
3       Albania        AL  2016                            452
4       Albania        AL  2017                            436
5       Albania        AL  2018                            462
6       Albania        AL  2019                            381
7       Albania        AL  2020                            369
8       Albania        AL  2021                            311
9       Austria        AT  2000                            580
10      Austria        AT  2001                            576
11      Austria        AT  2002                            608
12      Austria        AT  2003                            607
13      Austria        AT  2004                            574
14      Austria        AT  2005                            575

In [157]:
from sklearn.datasets import fetch_openml

In [158]:
bycountrywastepivot = np.round(pd.pivot_table(bycountrywaste, values="municipal_waste_kg_per_capita", index=["country_name", "region_id"], columns="year", aggfunc=np.mean),2)
bycountrywastepivot.head()

,year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
country_name,region_id,,,,,,,,,,,,,,,,,,,,,
Albania,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,325.0,425.0,491.0,452.0,436.0,462.0,381.0,369.0,311.0
Austria,AT,580.0,576.0,608.0,607.0,574.0,575.0,597.0,597.0,600.0,590.0,...,579.0,578.0,565.0,560.0,564.0,570.0,579.0,588.0,834.0,NaN
Belgium,BE,471.0,467.0,482.0,465.0,485.0,482.0,485.0,493.0,480.0,467.0,...,445.0,436.0,425.0,412.0,419.0,411.0,409.0,416.0,729.0,759.0
Bosnia and Herzegovina,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,356.0,354.0,...,340.0,311.0,349.0,340.0,354.0,352.0,356.0,352.0,NaN,NaN
Bulgaria,BG,612.0,596.0,602.0,603.0,599.0,588.0,577.0,553.0,599.0,598.0,...,460.0,432.0,442.0,419.0,404.0,435.0,407.0,442.0,408.0,NaN

In [159]:
bycountrywastepivot.isna()

,year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
country_name,region_id,,,,,,,,,,,,,,,,,,,,,
Albania,AL,True,True,True,True,True,True,True,True,True,True,...,True,False,False,False,False,False,False,False,False,False
Austria,AT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Belgium,BE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Bosnia and Herzegovina,BA,True,True,True,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,True,True
Bulgaria,BG,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Croatia,HR,False,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Cyprus,CY,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Czechia,CZ,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Denmark,DK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Estonia,EE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
European Union - 27 countries (from 2020),EU27_2020,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Finland,FI,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
France,FR,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Germany (until 1990 former territory of the FRG),DE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Greece,EL,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
Hungary,HU,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Iceland,IS,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
Ireland,IE,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,True
Italy,IT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Kosovo (under United Nations Security Council Resolution 1244/99),XK,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,False,False,False,False,False
Latvia,LV,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Lithuania,LT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Luxembourg,LU,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Malta,MT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Montenegro,ME,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
Netherlands,NL,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
North Macedonia,MK,True,True,True,True,True,True,True,True,False,False,...,False,False,False,False,True,True,False,False,False,False
Norway,NO,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Poland,PL,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Portugal,PT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Romania,RO,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Serbia,RS,True,True,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Slovakia,SK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Slovenia,SI,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Spain,ES,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Sweden,SE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Switzerland,CH,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Türkiye,TR,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
United Kingdom,UK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True

In [160]:
bycountrywaste.dtypes

country_name                     object
region_id                        object
year                              int64
municipal_waste_kg_per_capita     int64
dtype: object

In [144]:
#bycountrywastepivot.fillna(0)