In [1]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
%cd drive/MyDrive/TechLabs/02_Data\ Manipulation/Part\ C\ -\ Pandas

/content/drive/MyDrive/TechLabs/02_Data Manipulation/Part C - Pandas

In [3]:
# This is the convention used to import Pandas.
import pandas as pd
import numpy as np

In [4]:
# These commands load the data from googlecolab
bycountry = pd.read_csv("data/sdg_11_60_page_linear.csv")

In [5]:
bycountry

,DATAFLOW,LAST UPDATE,freq,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AL,2020,18.1,NaN
1,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AL,2021,18.7,NaN
2,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2000,63.4,NaN
3,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2001,64.3,e
4,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2002,62.5,e
...,...,...,...,...,...,...,...,...
712,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,UK,2016,44.0,NaN
713,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,UK,2017,43.8,NaN
714,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,UK,2018,44.1,NaN
715,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,XK,2020,0.0,NaN
716,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,XK,2021,0.0,NaN

In [6]:
#delete irrelevant columns for data analysis
bycountry.drop("DATAFLOW", inplace=True, axis=1)
bycountry.drop("LAST UPDATE", inplace=True, axis=1)
bycountry.drop("freq", inplace=True, axis=1)
bycountry.drop("unit", inplace=True, axis=1)
bycountry.head()

  geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0  AL         2020       18.1      NaN
1  AL         2021       18.7      NaN
2  AT         2000       63.4      NaN
3  AT         2001       64.3        e
4  AT         2002       62.5        e

In [7]:
#see all unique values of series object ["OBS_FLAG"]
#"OBS_FLAG" simply describes the nature of the data
## "nan": "no_additional_information", "e": "estimated" "b":"break_in_time_series", "p": "provisional", "be":"break_in_time_series,estimated", "ep": "estimated,provisional", "es":"Eurostat_estimated"
bycountry["OBS_FLAG"].unique()

array([nan, 'e', 'b', 'p', 'be', 's', 'ep', 'es'], dtype=object)

In [8]:
#delete one additional column for data analysis as no impact on data
bycountry.drop("OBS_FLAG", inplace=True, axis=1)
bycountry.head()

  geo  TIME_PERIOD  OBS_VALUE
0  AL         2020       18.1
1  AL         2021       18.7
2  AT         2000       63.4
3  AT         2001       64.3
4  AT         2002       62.5

In [9]:
bycountry.rename(columns={"geo": "region_id", "TIME_PERIOD":"year", "OBS_VALUE":"recycling_rate_municipal_waste_percent"}, inplace=True)
bycountry.head()

  region_id  year  recycling_rate_municipal_waste_percent
0        AL  2020                                    18.1
1        AL  2021                                    18.7
2        AT  2000                                    63.4
3        AT  2001                                    64.3
4        AT  2002                                    62.5

In [10]:
#add a new column and assign the country name to it
bycountry["country_name"]=bycountry.region_id.replace({"EU27_2020": "European Union - 27 countries (from 2020)","EU28": "European Union - 28 countries (2013-2020)",
"BE": "Belgium",
"BG": "Bulgaria",
"CZ": "Czechia",
"DK": "Denmark",
"DE": "Germany (until 1990 former territory of the FRG)",
"EE": "Estonia",
"IE": "Ireland",
"EL": "Greece",
"ES": "Spain",
"FR": "France",
"HR": "Croatia",
"CY": "Cyprus",
"IT": "Italy",
"LV": "Latvia",
"LT": "Lithuania",
"LU": "Luxembourg",
"HU": "Hungary",
"MT": "Malta",
"NL": "Netherlands",
"AT": "Austria",
"PL": "Poland",
"PT": "Portugal",
"RO": "Romania",
"ST": "Slovenia",
"SK": "Slovakia",
"FI": "Finland",
"SE": "Sweden",
"SI": "Iceland",
"NO": "Norway",
"CH": "Switzerland",
"UK": "United Kingdom",
"BA": "Bosnia and Herzegovina",
"ME": "Montenegro",
"MK": "North Macedonia",
"AL": "Albania",
"RS": "Serbia",
"TR": "Türkiye",
"XK": "Kosovo (under United Nations Security Council Resolution 1244/99)"
})

In [12]:
bycountry.head()

  region_id  year  recycling_rate_municipal_waste_percent country_name
0        AL  2020                                    18.1      Albania
1        AL  2021                                    18.7      Albania
2        AT  2000                                    63.4      Austria
3        AT  2001                                    64.3      Austria
4        AT  2002                                    62.5      Austria

In [13]:
#re-check the assigend values in "country_name"
#2 mistakes found and corrected direclty ("FI" and "SI" were not assiged correctly)
bycountry["country_name"].unique()

array(['Albania', 'Austria', 'Bosnia and Herzegovina', 'Belgium',
       'Bulgaria', 'Switzerland', 'Cyprus', 'Czechia',
       'Germany (until 1990 former territory of the FRG)', 'Denmark',
       'Estonia', 'Greece', 'Spain',
       'European Union - 27 countries (from 2020)', 'Finland', 'France',
       'Croatia', 'Hungary', 'Ireland', 'IS', 'Italy', 'Lithuania',
       'Luxembourg', 'Latvia', 'Montenegro', 'North Macedonia', 'Malta',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia',
       'Sweden', 'Iceland', 'Slovakia', 'Türkiye', 'United Kingdom',
       'Kosovo (under United Nations Security Council Resolution 1244/99)'],
      dtype=object)

In [14]:
#compare the number assigend values in "country_name" with "region_id" (ok)
bycountry["country_name"].nunique()

39

In [15]:
#number assigend values in "region_id" (ok)
bycountry["region_id"].nunique()

39

In [16]:
# detect MISSING values
bycountry.isna()

     region_id   year  recycling_rate_municipal_waste_percent  country_name
0        False  False                                   False         False
1        False  False                                   False         False
2        False  False                                   False         False
3        False  False                                   False         False
4        False  False                                   False         False
..         ...    ...                                     ...           ...
712      False  False                                   False         False
713      False  False                                   False         False
714      False  False                                   False         False
715      False  False                                   False         False
716      False  False                                   False         False

[717 rows x 4 columns]

In [17]:
#check for MISSING values
print(bycountry.region_id.value_counts().sum())
print(bycountry.shape)

717
(717, 4)

In [18]:
#check missing values directly in columns
pd.isnull(bycountry.region_id).sum()

0

In [19]:
#check missing values directly in columns
pd.isnull(bycountry.year).sum()

0

In [20]:
#check missing values directly in columns
pd.isnull(bycountry.recycling_rate_municipal_waste_percent).sum()

0

In [21]:
#move column "country_name"
column_to_move = bycountry.pop("country_name")
bycountry.insert(0, "country_name", column_to_move)
bycountry.head(15)

   country_name region_id  year  recycling_rate_municipal_waste_percent
0       Albania        AL  2020                                    18.1
1       Albania        AL  2021                                    18.7
2       Austria        AT  2000                                    63.4
3       Austria        AT  2001                                    64.3
4       Austria        AT  2002                                    62.5
5       Austria        AT  2003                                    64.2
6       Austria        AT  2004                                    57.4
7       Austria        AT  2005                                    58.3
8       Austria        AT  2006                                    59.2
9       Austria        AT  2007                                    60.2
10      Austria        AT  2008                                    63.2
11      Austria        AT  2009                                    61.9
12      Austria        AT  2010                                    59.4
13      Austria        AT  2011                                    56.7
14      Austria        AT  2012                                    57.7

In [22]:
# pivot library
from sklearn.datasets import fetch_openml

In [25]:
bycountrypivot = np.round(pd.pivot_table(bycountry, values="recycling_rate_municipal_waste_percent", index=["country_name", "region_id"], columns="year", aggfunc=np.mean),2)
bycountrypivot.head()

,year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
country_name,region_id,,,,,,,,,,,,,,,,,,,,,
Albania,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.1,18.7
Austria,AT,63.4,64.3,62.5,64.2,57.4,58.3,59.2,60.2,63.2,61.9,...,57.7,57.7,56.3,56.9,57.6,57.8,57.7,58.2,62.3,NaN
Belgium,BE,49.7,50.4,51.5,52.9,53.5,55.6,56.1,56.8,52.7,53.9,...,53.4,52.8,53.8,53.5,53.5,53.9,54.4,54.7,51.4,53.3
Bosnia and Herzegovina,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
Bulgaria,BG,15.5,16.1,16.3,16.5,17.2,18.3,19.1,20.6,19.4,19.9,...,25.0,28.5,23.1,29.4,31.8,34.6,31.5,34.6,65.5,NaN

In [26]:
bycountrypivot.isna()

,year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
country_name,region_id,,,,,,,,,,,,,,,,,,,,,
Albania,AL,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,False,False
Austria,AT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Belgium,BE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Bosnia and Herzegovina,BA,True,True,True,True,True,True,True,True,False,False,...,False,False,False,False,False,False,True,True,True,True
Bulgaria,BG,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Croatia,HR,True,True,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Cyprus,CY,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Czechia,CZ,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Denmark,DK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Estonia,EE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
European Union - 27 countries (from 2020),EU27_2020,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Finland,FI,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
France,FR,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Germany (until 1990 former territory of the FRG),DE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Greece,EL,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
Hungary,HU,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
IS,IS,False,False,False,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,True,False,True
Iceland,SI,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ireland,IE,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,True
Italy,IT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Kosovo (under United Nations Security Council Resolution 1244/99),XK,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,False,False
Latvia,LV,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Lithuania,LT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Luxembourg,LU,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Malta,MT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Montenegro,ME,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
Netherlands,NL,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
North Macedonia,MK,True,True,True,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
Norway,NO,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Poland,PL,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Portugal,PT,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Romania,RO,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Serbia,RS,True,True,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
Slovakia,SK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Spain,ES,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Sweden,SE,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Switzerland,CH,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Türkiye,TR,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,False,True
United Kingdom,UK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True